# General imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
from matplotlib.image import imread

In [6]:
COLOR = '#62d197'

# Data

In [9]:
# charge from pickle file
data = pd.read_pickle('../../data/cleaned_df.pkl')

images_df = data[['image', 'main_category', 'category_code']].copy()
images_df.head()

                                  image    main_category  category_code
0  55b85ea15a1536d46b7190ad6fff8ce7.jpg  Home Furnishing              6
1  7b72c92c2f6c40268628ec5f14c6d590.jpg        Baby Care              5
2  64d5d4a258243731dc7bbb1eef49ad74.jpg        Baby Care              5
3  d4684dcdc759dd9cdf41504698d737d8.jpg  Home Furnishing              6
4  6325b6870c54cd47be6ebfbffa620ec7.jpg  Home Furnishing              6

In [11]:
images_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image          1050 non-null   object
 1   main_category  1050 non-null   object
 2   category_code  1050 non-null   int64
dtypes: int64(1), object(2)
memory usage: 24.7+ KB

In [13]:
images_df.groupby('main_category').count().reset_index()

                main_category  image  category_code
0                   Baby Care    150            150
1    Beauty and Personal Care    150            150
2                   Computers    150            150
3  Home Decor & Festive Needs    150            150
4             Home Furnishing    150            150
5            Kitchen & Dining    150            150
6                     Watches    150            150

In [ ]:
def list_fct(name):
    list_img = images_df['image'].tolist()
    list_image_name = [list_img[i] for i in range(len(images_df)) if images_df['main_category'][i] == name]
    return list_image_name

classes = images_df['main_category'].unique()

for category in classes:
    print(f'Category: {category}')
    for i in range(3):
        plt.subplot(130 + 1 + i)
        filename =

# SIFT

### Imports

In [7]:
from sklearn import preprocessing

### Functions